/** Color Modes Page Styles **/

/** .test-color-modes is just provided simply as a base example **/

/* Prefers Color Scheme - Light */
@media (prefers-color-scheme: light) {

	/** since we still switch theme in scheme with toggler **/	

	/* auto test-color-modes */
	[data-bs-theme=auto] .test-color-modes {

		/* custom vars */
		--tcm-custom-bg: #f8f9fa; /* example test-color-modes tcm-custom-bg */

		/* bs vars */
		--bs-tertiary-bg: #f8f9fa; /* default bs var light */
		--bs-border-color: var(--bs-teal); /* default bs var though let's also use var --bs-teal #20c997 for it instead simply for example */
		--bs-border-width: 1px; /* default bs var */
		--bs-border-style: solid; /* default bs var */

		/* styling with vars */
		background-color: var(--tcm-custom-bg);
		/*background-color: var(--bs-tertiary-bg);*/ /* default bs var light */
		border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;

        /* styling without vars */
		color: #20c997; /* let's use bs-teal without using the var simply for example */

	}

	/* light test-color-modes */
	[data-bs-theme=light] .test-color-modes {

		/* custom vars */
		--tcm-custom-bg: #f8f9fa; /* example test-color-modes tcm-custom-bg */		

		/* bs vars */
		--bs-tertiary-bg: #f8f9fa; /* default bs var light */
		--bs-border-color: var(--bs-blue); /* default bs var though let's also use var --bs-blue #0d6efd for it instead simply for example */
		--bs-border-width: 1px; /* default bs var */
		--bs-border-style: solid; /* default bs var */

		/* styling with vars */
		background-color: var(--tcm-custom-bg); /* custom var */
		/*background-color: var(--bs-tertiary-bg);*/ /* default bs var light */
		border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;

		/* styling without vars */        		
		color: #0d6efd; /* let's use bs-blue without using the var simply for example */

	}

	/* dark test-color-modes */
	[data-bs-theme=dark] .test-color-modes {

		/* custom vars */
		--tcm-custom-bg: #2b3035; /* example test-color-modes tcm-custom-bg */		

		/* bs vars */
		--bs-tertiary-bg: #2b3035; /* default bs var dark */
		--bs-border-color: var(--bs-orange); /* default bs var though let's also use var --bs-orange #fd7e14 for it instead simply for example */
		--bs-border-width: 1px; /* default bs var */
		--bs-border-style: solid; /* default bs var */
        
		/* styling with vars */
		background-color: var(--tcm-custom-bg);
		/*background-color: var(--bs-tertiary-bg);*/ /* default bs var dark */
		border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;

		/* styling without vars */	    
		color: #fd7e14; /* let's use bs-orange without using the var simply for example */

	}

}

/* Prefers Color Scheme - Dark */
@media (prefers-color-scheme: dark) {

	/** since we still switch theme in scheme with toggler **/	

	/* auto test-color-modes */
	[data-bs-theme=auto] .test-color-modes {

		/* custom vars */
		--tcm-custom-bg: #2b3035; /* example test-color-modes tcm-custom-bg */

		/* bs vars */
		--bs-tertiary-bg: #2b3035; /* default bs var dark */
		--bs-border-color: var(--bs-teal); /* default bs var though let's use color --bs-teal #20c997 for it instead simply for example */
		--bs-border-width: 1px; /* default bs var */
		--bs-border-style: solid; /* default bs var */

		/* styling with vars */
		background-color: var(--tcm-custom-bg); /* custom var */
		/*background-color: var(--bs-tertiary-bg);*/ /* default bs var dark */
		border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;

		/* styling without vars */
		color: #20c997; /* let's use bs-teal without using the var simply for example */

	}

	/* light test-color-modes */
	[data-bs-theme=light] .test-color-modes {

		/* custom vars */
		--tcm-custom-bg: #f8f9fa; /* example test-color-modes tcm-custom-bg */

		/* bs vars */
		--bs-tertiary-bg: #f8f9fa; /* default bs var light */
		--bs-border-color: var(--bs-blue); /* default bs var though let's use var --bs-blue #0d6efd for it instead simply for example */
		--bs-border-width: 1px; /* default bs var */
		--bs-border-style: solid; /* default bs var */

		/* styling with vars */
		background-color: var(--tcm-custom-bg); /* custom var */
		/*background-color: var(--bs-tertiary-bg);*/ /* default bs var light */
		border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;

		/* styling without vars */        		
		color: #0d6efd; /* let's use bs-blue without using the var simply for example */

	}

	/* dark test-color-modes */
	[data-bs-theme=dark] .test-color-modes {

		/* custom vars */
		--tcm-custom-bg: #2b3035; /* example test-color-modes tcm-custom-bg */

		/* bs vars */
		--bs-tertiary-bg: #2b3035; /* default bs var dark */
		--bs-border-color: var(--bs-orange); /* default bs var though let's use var --bs-orange #fd7e14 for it instead simply for example */
		--bs-border-width: 1px; /* default bs var */
		--bs-border-style: solid; /* default bs var */

		/* styling with vars */
		background-color: var(--tcm-custom-bg); /* custom var */
		/*background-color: var(--bs-tertiary-bg);*/ /* default bs var dark */
		border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;

		/* styling without vars */	    
		color: #fd7e14; /* let's use bs-orange without using the var simply for example */

	}
	
}

